nav {
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

.landscape-container {
  display: none;
}

.portrait-container {
  display: inline-block;
}

img {
  display: block;
  margin: 0 auto;
}
